<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Manhattan food grades</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
  rel="stylesheet">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="https://maps.googleapis.com/maps/api/js?v=3.14&key=AIzaSyBwOEBpE4aHJAcFhn5lv50FltT4SoWlvNg&sensor=false">
  type="text/javascript">
  </script>

</head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    >
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <label>APP (Amy, Polina, and Paul) Hacker School Fall 2013</label>
          <div class="well">
            <h3>Yum?</h3>
            <p>Exploring Restaurant Health Grades by Zip Code using NYC Open Data</p>
          </div>
        </div>
      </div>

      <div class="row">
       <div class="col-md-12">
          <script src='/static/map.js'></script>
            <div id="map-canvas" style="width:100%; height:600px;"></div>
        </div>
      </div>
    </div>


  </body>
</html>
